

= render 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        = @group.name
      = link_to edit_group_path(@group), class: "chat-main__header--group-edit-btn" do
        Edit
    .chat-main__header-members
      %p Members: #{@group.users.pluck(:name).join(", ")}

  .chat-main__body
    .chat-main__message-list
      = render partial: 'message', collection: @messages

  .chat-main__footer
    = form_for [@group, @message], html: {class: 'chat-main__footer-form', id: 'new__message'} do |f|
      .chat-main__footer-body
        = f.text_field :message, class: 'chat-footer__body--message', placeholder: 'type a message'
        = f.label :image, class: 'chat-footer__body--chat-file' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'chat-footer__body--image'
        = f.submit 'Send', class: 'chat-footer__body--submit'
