.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        %p ryosukemaehira
      = link_to "#", class: "chat-side__user--new-gruop" do
        %i.fa.fa-edit
      = link_to "#", class:"chat-side__user--option" do
        %i.fa.fa-cog

  .chat-side__groups
    .chat-side__groups-list
      = render partial: "group"

.chat-main
  .chat-main__header
    .chat-main__header-group あかさたな
    %a{:href => "#"}
      .chat-main__header-edit Edit
    .chat-main__header-name Members: 岡山和樹

  .chat-main__body
    .chat-main__message-list
      = render partial: "chat"
      = render partial: "chat"
      = render partial: "chat"
      = render partial: "chat"
      = render partial: "chat"
      = render partial: "chat"
      = render partial: "chat"
      = render partial: "chat"

  .chat-main__footer
    %form{:class => "chat-main__footer-form"}
      .chat-main__footer-body
        %input{:name => "message[body]", :placeholder => "type a message", :class => "chat-footer__body--message"}
        %label{:class => "chat-footer__body--chat-file", :for => "message-image"}
          %i.fa.fa-image
          %input{:type => "file", :class => "chat-footer__body--image", :id => "message-image"}
      %input{:type => "submit", :value => "send", :class => "chat-footer__body--submit"}
